[submodule "external/dawn"]
	path = external/dawn
	url = https://github.com/google/dawn.git
[submodule "external/shaderc"]
	path = external/shaderc
	url = https://github.com/google/shaderc.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
